:root {
  --color-background-root: #fbfaff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-root: #161520;
  }
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: contain;
  touch-action: manipulation;
  user-select: none;
  display: flex;
  flex: 1;
  background: var(--color-background-root);
}
